/* Criando variáveis */
:root {
    --bg-button: #D4D4D2; /* Background do botão */
    --border-button: solid 1px #1C1C1C; /* Estilo das bordas do botão */
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button.operator {
    background-color: #FF9500;
}

.button.operator:active {
    background-color: #D98F26;
}

.button.white:active {
    /* Muda o estilo dos elementos quando eles são clicados */
    background-color: #BBBBB9; 
}

.button#zero {
    grid-column: span 2; /* Faz o conteúdo ocupar 2 colunas de espaço na linha do elemento */
}

.button#ac {
    grid-column: span 3; /* Faz o conteúdo ocupar 3 colunas de espaço na linha do elemento */
}